## Uncomment and change the relevant parameters
##

# The config folder to use when the withDirectory parameter is not provided on startup
#CONFIG: config

# Java arguments in case of automatic restart (you are still responsible for the startup arguments)
#JAVA_ARGS: -Xms128m -Xmx512m

# Log to console or to files
#LOGCONSOLE: true

# Turns auditing log on or off
#LOGAUDIT: true

# Specifies the template to use for auditing log
#LOGAUDIT_TEMPLATE: "AUDIT | User: {{request.user}} | Channel: {{name}} | Operation: {{op}} | Key: {{{key}}}"

# Specifies how long the log files should be kept before being removed from the filesystem
#LOGHK_HOWLONGAGOINMINUTES: 43200

# Specifies a default time for killAfterMinutes for all plugs to avoid affecting other plugs (if disabled no limit will exist)
#MAXPLUGEXECUTE_TIME: 10

# Number of worker threads to use (this automatically defaults to twice the number of cores but increase if needed or to ensure at least 4 to 8 workers)
#NUMBER_WORKERS: 4

# Logging should be async or not (turn it off if you need to see logging immediately)
#LOG_ASYNC: false

# Turn debugging of the nattrmon core on or off
#DEBUG: true

# Turn channel cvals and warns buffering on or off and configure it
#
#BUFFERCHANNELS: true
#BUFFERBYNUMBER: 100
#BUFFERBYTIME: 1000

# Use a core objects folder before loading the config/objects folder
# COREOBJECTS: /some/dir/objects

# Use another path for the nattrmon snapshots (if not defined it will default to the CONFIG path)
#CH_PERSISTENCE_PATH: /another/path
# Indicate if nattrmon snapshot persistence should be turned off (default turned on)
#NEED_CH_PERSISTENCE: false

# Control how core objects are loaded (defaults to false)
#COREOBJECTS_LAZYLOADING: true

# Custom channels type and options
#CHANNEL_CVALS: "{ type: 'file', options: { file: 'cvals.json' } }"
#CHANNEL_LVALS: "{ type: 'file', options: { file: 'lvals.json' } }"
#CHANNEL_WARNS: "{ type: 'elasticsearch', options: { index: 'warns', secKey: 'elastic', secBucket: 'nattrmon', secFile: 'elastic.yaml' } }"