jobs:
   # Set all global variables
   #
   - name: Init
     exec: >-
        global.packPath = getOPackPath("nAttrMon") || ".";
        global.configPath = _$(args.config).default(packPath + "/config");
        global.configZIP = (isDef(params.filename)) ? params.filename : "nattrmonConfig-" + ow.loadFormat().fromDate(new Date(), "yyyyMMdd") + ".zip";
        log("Scanning " + global.packPath);

   # Prepare a ZIP object to be used
   #
   - name: Prepare ZIP
     deps:
        - Init
     exec: >-
        plugin("ZIP");
        global.zip = new ZIP();

   # Job to backup a plug given args.folder
   #
   - name: Backup plug
     deps:
        - Init
        - Prepare ZIP
     exec: >-
        if (isDef(args.folder)) {
           var files = listFilesRecursive(global.configPath + "/" + args.folder);
           for(var file in files) {
              if (files[file].isFile) {
                var f = files[file].filepath.replace(global.configPath + "/", "").replace(/\\+/g, "/").replace(/^\//, "");
                log("Including " + f + "...");
                try {
                  global.zip.putFile(f.replace(global.configPath + "/", ""), io.readFileBytes(files[file].filepath));
                } catch(e) {
                  logWarn(e.message);
                }
              }
           }
        }

   # Backup all nattrmon snapshots
   #
   - name: Backup snapshots
     deps:
        - Init
        - Prepare ZIP
     exec: >-
        var f = [ 
           global.configPath + "/nattrmon.attrs.snapshot", 
           global.configPath + "/nattrmon.cvals.snapshot",
           global.configPath + "/nattrmon.lvals.snapshot"
        ];
        for (var i in f) {
          try {
            log("Including " + f[i] + "...");
            global.zip.putFile(f[i].replace(global.configPath + "/", ""), io.readFileBytes(f[i]));
          } catch(e) {
            logWarn(e.message);
          }
        }

   # Write the final ZIP file
   #
   - name: Write ZIP
     deps:
        - Init
        - Prepare ZIP
        - Backup plug
        - Backup snapshots
     exec: >-
        log("Writing " + global.configZIP + "...");
        global.zip.generate2File(global.configZIP, { compressionLevel: 9 }, true);
        global.zip.close();      

   # Everything done
   # 
   - name: Done
     deps: 
        - Init
        - Prepare ZIP
        - Backup plug
        - Backup snapshots
        - Write ZIP
     exec: >-
        log("Done");

todo:
   - Init
   - Prepare ZIP
   - Backup snapshots
   - name: Backup plug
     args: 
       - folder: inputs
       - folder: outputs
       - folder: validations  
       - folder: inputs.disabled
       - folder: outputs.disabled
       - folder: validations.disabled
   - Write ZIP
   - Done