nattrmon:
  # AF secrets
  ras_main:
    url: http://user:password@1.2.3.4:7100/xdt
  ras_sat1:
    url: http://user:password@1.2.3.4:7101/xdt
  fms_main:
    url: http://user:password@1.2.3.5:7100/xdt

  # DB secrets
  ras_adm:
    url    : jdbc:oracle:thin:@1.2.3.5:1521:aSID 
    login  : rasadmuser
    pass   : rasadmpass
  
  fms_adm:
    url    : jdbc:oracle:thin:@1.2.3.5:1521:aSID 
    login  : fmsadmuser
    pass   : fmsadmpass